# Importing the libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

# Importing the dataset

In [2]:
data = pd.read_csv('cardio_data_processed.csv')

In [3]:
data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi,bp_category,bp_category_encoded
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120,Hypertension Stage 1,Hypertension Stage 1
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679,Hypertension Stage 2,Hypertension Stage 2
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51,23.507805,Hypertension Stage 1,Hypertension Stage 1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479,Hypertension Stage 2,Hypertension Stage 2
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47,23.011177,Normal,Normal

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68205 entries, 0 to 68204
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   68205 non-null  int64
 1   age                  68205 non-null  int64
 2   gender               68205 non-null  int64
 3   height               68205 non-null  int64
 4   weight               68205 non-null  float64
 5   ap_hi                68205 non-null  int64
 6   ap_lo                68205 non-null  int64
 7   cholesterol          68205 non-null  int64
 8   gluc                 68205 non-null  int64
 9   smoke                68205 non-null  int64
 10  alco                 68205 non-null  int64
 11  active               68205 non-null  int64
 12  cardio               68205 non-null  int64
 13  age_years            68205 non-null  int64
 14  bmi                  68205 non-null  float64
 15  bp_category          68205 non-null  object
 16  bp_category_encoded  68205 non-null  object
dtypes: float64(2), int64(13), object(2)
memory usage: 8.8+ MB

In [5]:
data.isna().sum()

id                     0
age                    0
gender                 0
height                 0
weight                 0
ap_hi                  0
ap_lo                  0
cholesterol            0
gluc                   0
smoke                  0
alco                   0
active                 0
cardio                 0
age_years              0
bmi                    0
bp_category            0
bp_category_encoded    0
dtype: int64

In [6]:
data =data.drop('bp_category',axis=1)
data = data.drop('id',axis=1)

In [7]:
y = data['bp_category_encoded']
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [8]:
data['bp_category_encoded']= y_encoded
data.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi,bp_category_encoded
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120,1
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679,2
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51,23.507805,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479,2
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47,23.011177,3

In [9]:
X = data.drop('bmi', axis=1)
y = data['bmi']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((47743, 14), (20462, 14), (47743,), (20462,))

In [11]:
from sklearn.preprocessing import StandardScaler
# performed as a preprocessing step before models
scaler = StandardScaler() # standardize the range of functionality of the input dataset
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [20]:
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_train_scaled, y_train)

KNeighborsRegressor()

In [21]:
y_pred = knn.predict(X_test_scaled)

In [22]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 2.91182548836586

In [23]:
from sklearn.metrics import r2_score
accuracy = r2_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2%}')

Accuracy: 91.38%